body {
    font-family: 'Bitter', serif; /* Use Bitter font for all text */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1c0f3c; /* Background color */
    position: relative; /* For star positioning */
}

.container {
    text-align: center;
    background: #778DA9; /* Container color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #000; /* Black text for better contrast on the light background */
}


input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    border: black;
    background-color: #001f3f; /* Navy blue color */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #001533; /* Darker navy blue color for hover effect */
}